.content-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 2rem;
  z-index: 2;
  gap: 2rem;
  background: rgb(9, 12, 34);
  background: linear-gradient(
    180deg,
    rgba(9, 12, 34, 1) 0%,
    rgb(52, 91, 99) 50%,
    rgba(9, 12, 34, 1) 100%
  );
}

.content-section-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-b1,
.content-b2 {
  background-color: #f0f0f077;
  width: 22%;
  border-radius: 20px;
  padding: 1rem;
  height: fit-content;
}

.content-b2 {
  width: 75%;
  border-radius: 20px;
  padding: 1rem;
}

.b2-3dviewer {
  width: 100%;
  height: 42.5vw;
  border-radius: 20px;
}

.sketchfab-carousel-wrapper {
  width: 100%;
  height: 100%;
}

.sketchfab-carousel-wrapper .slide-animation {
  width: 100%;
  height: 100%;
}

.sketchfab-carousel {
  width: 100%;
  height: 100%;
}

.sketchfab-embed-wrapper {
  width: 100%;
  height: 100%;
  
}

.sketchfab-embed {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: none;
}

.b2-3dviewer-controls {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 20px;
  left: 0;
  justify-content: center;
}

.previous-3d {
  background-color: #f0f0f0;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.dots-3d {
  background-color: #f0f0f0;
  border: none;
}

.next-3d {
  background-color: #f0f0f0;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.content-b3 {
  width: 100%;
  border-radius: 20px;
  height: 20rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.b3-box {
  background-color: #f0f0f077;
  backdrop-filter: blur(10px);
  width: 12.5%;
  border: red 2px solid;
  border-radius: 20px;
  padding: 1rem;
  height: 75%;
}
.b3-arrow {
  width: 5%;
}

.content-section-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.content-b4 {
  background-color: #f0f0f0;
  width: 100%;
  border: red 8px solid;
  border-radius: 20px;
  padding: 1rem;
  height: 70rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sketchfab-caption {
  font-size: 13px;
  font-weight: normal;
  margin: 5px;
  color: #4A4A4A;
}

.sketchfab-link {
  font-weight: bold;
  color: #1CAAD9;
}
